<h1 class="text-center">To Do List</h1>
<head>
  <ul class="list-group list-inline row">
      <li class="list-group-item col-md-2 active text-center">Title</li>
      <li class="list-group-item col-md-2 active text-center">Catagory</li>
      <li class="list-group-item col-md-2 active text-center">Priority</li>
      <li class="list-group-item col-md-2 active text-center">Status</li>
      <li class="list-group-item col-md-4 active text-center">Options</li>
  </ul>
</head>
<body>
  <% @tasks.each do |task| %>
    <ul class="list-group list-inline row">
      <li class="list-group-item col-md-2"><%= task.title %></li>
      <li class="list-group-item col-md-2"><%= task.category %></li>
      <li class="list-group-item col-md-2 text-center"><%= task.priority %></li>
      <li class="list-group-item col-md-2">
        <%= simple_form_for task do |f| %>
          <%= f.collection_radio_buttons :is_completed, [[true, 'Completed'] ,[false, 'Not Completed']], :first, :last %>
        <% end %>
      </li>
      <li class="list-group-item col-md-2 text-center"><%= link_to 'See Task', task_path(task.id) %></li>
      <li class="list-group-item col-md-2 text-center"><%= link_to 'Delete', task_path(task), method: :delete %></li>
    </ul>
  <% end %>
</body>
<%= link_to 'New Task', new_task_path %>