<h1>Task</h1>
<head>
  <ul class="list-group list-inline row">
      <li class="list-group-item col-md-2 active text-center">Title</li>
      <li class="list-group-item col-md-2 active text-center">Catagory</li>
      <li class="list-group-item col-md-2 active text-center">Priority</li>
      <li class="list-group-item col-md-2 active text-center">Status</li>
      <li class="list-group-item col-md-4 active text-center">Options</li>
  </ul>
</head>
<body>
  <ul class="list-group">
    <li class="list-group-item"><%= @task.title %></li>
    <li class="list-group-item"><%= @task.category %></li>
    <li class="list-group-item"><%= @task.priority %></li>
    <li class="list-group-item">
      <%= simple_form_for @task do |f| %>
        <%= f.collection_radio_buttons :is_completed, [[true, 'Yes'] ,[false, 'No']], :first, :last, label: 'Task Completed:' %>
        <%= f.button :submit %>
      <% end %>
    </li>
    <li class="list-group-item"><%= link_to 'Edit Task', edit_task_path(@task.id) %></li>
    <li class="list-group-item"><%= link_to 'Back', tasks_path %></li>
  </ul>
</body>






